body{
    font-size:14px;
    /* font-family:  */
}

.tab-content {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: block;
}
.tab-content .tab-pane {
  text-align: left;
  padding: 10px;
}
.tab-content .tab-pane h3 {
  margin: 0;
}

.cd-breadcrumb {
  display: flex;
  border: 1px solid #ccc;
    margin-bottom: 20px;
   background-color: transparent;
}
.cd-breadcrumb.nav-tabs>li>a.active , .cd-breadcrumb.nav-tabs > li> a.active :hover{
  color:#ffffff;
  background-color:#4766F5;
  border: 0px solid #4766F5;
  cursor: default;
}
.cd-breadcrumb.nav-tabs > li > a ,.cd-breadcrumb.nav-tabs>li>a:hover{
    display: block;
    
    text-decoration:none;
}
.cd-breadcrumb li {
  display: inline-block;
  float: left;
  margin: 0.5em 0;
}
.cd-breadcrumb li::after {
  /* this is the separator between items */
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #8aa3bb;
}
.cd-breadcrumb li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}
.cd-breadcrumb li > * {
  /* single step */
  display: inline-block;
  font-size: 1em;
  color:#4766F5;
}
.cd-breadcrumb li.current > * {
  /* selected step */
  color:#4766F5;
}

.cd-breadcrumb li {
  margin: 1.2em 0;
}
.cd-breadcrumb li::after {
  margin: 0 1em;
}
.cd-breadcrumb.triangle li {
  position: relative;
    flex: 1;
  padding: 0;
  margin: 0 4px 0 0;
}
.cd-breadcrumb.triangle li:last-of-type {
  margin-right: 0;
}
.cd-breadcrumb.triangle li > * {
  position: relative;
    padding:14px 10px;
    text-align: center;
  color:darkgrey;
    font-size: 18px;
  background-color:white;
  /* the border color is used to style its ::after pseudo-element */
  border-left-color:white;
}
.cd-breadcrumb.triangle li:first-of-type > *,.cd-breadcrumb.triangle li:last-of-type > *  {
  border-radius: 4px 0 0 4px;
}
.cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
  /*
      li > *::after is the colored triangle after each item
      li::after is the white separator between two items
  */
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  content: '';
  height: 0;
  width: 0;
  /* 48px is the height of the <a> element */
  border: 28px solid transparent;
  border-right-width: 0;
  border-left-width: 20px;
}
.cd-breadcrumb.triangle li::after {
  /* this is the white separator between two items */
  z-index: 1;
  -webkit-transform: translate(4px, 0);
  -ms-transform: translate(4px, 0);
  -o-transform: translate(4px, 0);
  transform: translate(4px, 0);
  border-left-color: #ffffff;
  /* reset style */
  margin: 0;
}
.cd-breadcrumb.triangle li > *::after {
  /* this is the colored triangle after each element */
  z-index: 2;
  border-left-color: inherit;
}
.cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
  /* hide the triangle after the last step */
  display: none;
}

video{
    height: 80vh;
    width: 100%;
}
.tab-content{
    margin-top: 10px;
}
.new-patient-box img{
    width: 100px;
    margin: auto;
    display:inline-block;
}
.grey{
    color: #ccc;
}

.tab-content{
    min-height:calc(100vh - 100px);
    
}
.none{display: none;}

.new-patient-box h4{
    margin: 15px 0px;
}
*{
    box-sizing: border-box;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.row:after{
    display: table;
    content: '';
    clear: both;
}
.form-group{
    margin-bottom:30px;
}
.form-control:focus,.form-control{color:#0096FF;}
.form-control:focus,.btn:focus{
    outline: none;
    border: none;
    box-shadow: none;
    background-image: linear-gradient(0deg,#ccc 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.bmd-form-group.is-filled .bmd-label-floating{
    color:#FAD5AF;
}

.bmd-form-group.is-focused .bmd-label-floating{
    color:#FFB74C;
}
.bmd-label-floating{
    font-size: 14px;
}
.btn.btn-primary{
    color: grey;
    border-color:grey !important;
}
.btn-row{
    margin-top:12%;
}
.error{
    background:#F4CCCC;
    color:red;
    background-image: linear-gradient(0deg,red 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.error label{
    color: red;
    text-align: center;
}
.error.is-focused, .error.is-filled{
    background: transparent;
}
.card-title{
    color: white;
    padding:15px 10px;
    margin: 0px;
    background:#6D9EEB;
}

.card-body{
    padding:0px;
    margin: 0px;
}
.patient-list .card-body img{
    height:80px;
    margin:30px auto;
    display:flex;
}
.padd-top-50{
    padding: 50px 0px 0px;
}
.card-text{
    padding:10px;
}
.card-text h5{
    color:grey;
}
.card-text h2{
    color:#6D9EEB; 
}
.dial-list .card-text h4{
    margin-top: 15px;
    text-align: left;
}

.card-text .date{
    display: inline-block;
    margin-right: 5px;
}
.card{
    border-radius:10px;
    margin:25px 20px;
    overflow: hidden;
}
.dialing .card-text h4{
    color:forestgreen;
}
.oncall .card-text h4{
    color:#6D9EEB;
}

.unreach .card-text h4{
    color:red;
}
.unreach .card-title{
    background:red;
}
.noresponse .card-text h4{
    color:#FF9900;
}
.noresponse .card-title{
    background:#FF9900;
}
.modal-content{
    background: rgba(255,255,255,0.45);
    color: white;
}
.modal .btn{
    color: white;
}
.modal-backdrop.show {
    opacity: .65;
}
.modal-header h4{
    display: block;
    width: 100%;
}
.dial-list .card{
    margin:40px 20px ; 
}
.no-float{
    margin:  0px auto;
    padding: 0xp;
    float: none;
}